<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ asset('AuthDesign/css/style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body class="img js-fullheight" style="background-image: url({{ asset('AuthDesign/images/bg.jpg') }}); background-size: cover; background-position: center center; height: 100vh;">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <img src="{{ asset('AuthDesign/images/Logo.png')}}" style="height: 200px">
            </div>
        </div>
{% if userconnected.role=="Touriste" %}
        <div  class="row justify-content-center">

            <div class="col-md-6 col-lg-4">

                <div class="login-wrap p-0">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.userFirstname) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.userLastname) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.userMail) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.userPhone) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.password) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.nationality) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.langue) }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Modifier</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if userconnected.role=="Guide" %}
            <div  class="row justify-content-center">

                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_row(form.userFirstname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.userLastname) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.userMail) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.userPhone) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lang1) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lang2) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.lang3) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.cityname) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Modifier</button>
                        </div>
                        {{ form_end(form) }}


                    </div>
                </div>
            </div>
        {% endif %}
    </div>

</section>


<script>
    // Show/hide forms based on button clicks
    $('#button1').click(function() {
        console.log(true);
        $('#form1').show();
        $('#form2').hide();
    });

    $('#button2').click(function() {
        console.log(true);
        $('#form1').hide();
        $('#form2').show();
    });
</script>
<script src="{{ asset('AuthDesign/js/jquery.min.js')}}"></script>
<script src="{{ asset('AuthDesign/js/popper.js')}}"></script>
<script src="{{ asset('AuthDesign/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('AuthDesign/js/main.js')}}"></script>

</body>