{{ form_start(form) }}
<div class="mb-3">
    {{ form_row(form.userFirstname) }}
</div>
<div class="mb-3">
    {{ form_row(form.userLastname) }}
</div>
<div class="mb-3">
    {{ form_row(form.userMail) }}
</div>
<div class="mb-3">
    {{ form_row(form.userPhone) }}
</div>
<div class="mb-3">
    {{ form_row(form.username) }}
</div>
<div class="mb-3">
    {{ form_row(form.password) }}
</div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
