{% extends 'base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}
    <h1>Create new Admin</h1>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>User Add</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"> Add Admin </li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Se connecter</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="mb-3">
                                    {{ form_row(form.username) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(form.password) }}
                                </div>
                                {{ form_end(form) }}


                                <a href="{{ path('app_user_index') }}">back to list</a>
                            </div>
                            {% if emailerror==true  %}
                                <div class="alert alert-danger" role="alert">
                                    <p>Erreur De Connexion : Votre Login Ou Mot De Passe Est Incorrect.</p>
                                </div>
                            {% endif %}

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <a href="#" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create new Project" class="btn btn-success float-right">
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
